<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- en geolocalizaacion se necesta dos tipos de permiso uno de aproximacion y el otro si quieren precision -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Se usa en casos muy especificos -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PracticaMapas"
        tools:targetApi="31">
        <activity
            android:name=".VerCitasActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <!-- PANTALLA DE REGISTRO DE CITAS -->
        <activity
            android:name=".CitaActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>
        <!-- PANTALLA DE ELIMINAR CUENTA -->
        <activity android:name=".DeleteAccountActivity" />
        <!-- PANTALLA DE ACTUALIZAR CONTRASEÑA -->
        <activity android:name=".UpdatePasswordActivity" />
        <!-- PANTALLA DE VERIFICAR EMAIL -->
        <activity android:name=".CheckEmailActivity" />
        <!-- PANTALLA DE RECUPERAR CUENTA -->
        <!-- PANTALLA PRINCIPAL -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Main" />
        <!-- PANTALLA DE REGISTRARSE -->
        <activity android:name=".SignUpActivity" />
        <!-- PANTALLA DE LOGIN -->
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <!-- PANTALLA DE CARGA -->
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- API KEY DE GOOGLE MAPS -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBcTvcB8Y4t0f0uD3NApH_htXm3E2f8JLw" />
        <!-- PANTALLA DEL MAPA -->
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <!-- PANTALLA CON MENU DESPLEGABLE -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.PracticaMapas.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>